.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 5px;
    .titulo {
        font-size: 20px;
    }

    a {
        font-size: 16px;
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
}